/* cocTheme.css */  
.coc-button {
    background-color: rgba(0, 0, 0, 0.4);
    color: #e2cc69;
    border: 1px solid #e2cc69;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  
  .coc-button:hover {
    background-color: #222254;
    color: #fff;
    border: 1px solid #fff;

  }

  .coc-button:active {
    transform: scale(0.95);
  }
