/* cocTheme.css */  
.coc-button {
    background-color: #180828;
    color: #e2cc69;
    border: 1px solid #e2cc69;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: ease-in-out 0.2s;
  }
  
  .coc-button:hover {
    background-color: #fff;
    color: #222254;
  }

  .coc-button:active {
    transform: scale(0.95);
  }
