/* forestTheme.css */  
.forest-button {
    background-color: transparent;
    color: #dec57c;
    border: 1px solid #dec57c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  
  .forest-button:hover {
    background-color: #234a2d;
    color: #fff;
    border: 1px solid #fff;
  }

  .forest-button:active {
    transform: scale(0.95);
  }
