.invalid-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 500px;
    min-height: fit-content;
    align-self: center;
    margin: 0 auto;
    padding: 50px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Subtle blur for glass effect */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: ease-in 0.2s;
}