/* pumpkinTheme.css */  
.pumpkin-button {
    background-color: transparent;
    color: #fff1c8;
    border: 1px solid #fff1c8;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  
  .pumpkin-button:hover {
    background-color: #fff1c8;
    color: #222254;
    border: 1px solid #853918;
  }

  .pumpkin-button:active {
    transform: scale(0.95);
  }
