/* SnowTheme.css */  
  .snow-button {
    background-color: rgba(255, 255, 255, 0.6);
    color: #176695;
    border: 1px solid #176695;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: ease-in-out 0.4s;
  }
  
  .snow-button:hover {
    background-color: #fff;
  }

  .snow-turns p{
    color: #176695;
  }