@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.3em;
  text-align: center;
  /* background: #1b1523; */
  color: #fff;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* global.css */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Keeps layout stable */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
